<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Processor Instructions</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>

<body id="main">

    <div class="header_bar">
        <header class="header">
            <h1>{% block header %}{% endblock header %}</h1>
        </header>
        <span class="button">
            {% set base_path = current_path | default(value='') | trim_start_matches(pat="/"~lang~"/") %}
            {% if lang == "en" %}
                <a href={{ "/" ~ base_path }}>
                    🇵🇱
                </a>
            {% else %}
                <a href={{ "/en" ~ base_path }}>
                    🇬🇧/🇺🇸
                </a>
            {% endif %}
        </span>
    </div>


    <nav>
        {% include "nav.html" %}
    </nav>

    <main>
        <div style="display: flex; align-items: center; flex-direction: column;">
            {% if page.toc %}
            <strong>Table of contents</strong>
            <ul class="toc">
                {% for h1 in page.toc %}
                <li>
                    <span>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                    </span>
                    {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                        <li>
                            <span>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <div class="footer_icons">
            <a href="https://github.com/KN-Breadboard-Computing">
                <img src="/github-mark.svg" alt="Github Logo">
            </a>
            <a href="https://discord.gg/ya9q2KMm4s">
                <img src="/discord-mark-black.svg" alt="Discord Logo">
            </a>
            <a href="mailto:kn.bb.computing@gmail.com">
                <img src="/email_icon.svg" alt="Email Icon">
            </a>
        </div>
        <p>&copy; 2023 KN Breadboard Computing</p>
    </footer>
</body>

</html>