{% extends "base.html" %}
{% block header %}
    KN Breadboard Computing
{% endblock header %}

{% block content %}
<div class="center_container">
    <div class="about_row">
        <div>
            <h4>Hi! We are KN Breadboard Computing</h4>
            <p>
                ...a student group at Wrocław University of Science and Technology. We focus on building knowledge and skills related to computer architecture. Not only do we design, but also build our own CPUs. Here you can learn what we do and check progress of our projects.
            </p>
        </div>
        <div>
            <ul class="about_top_table">
                <li>
                    <span>8-bit CPU</span>
                    <ul class="about_side_table">
                        <li><a class="link" href="/">History (WIP)</a></li>
                        <li><a class="link" href="/">Organization (WIP)</a></li>
                        <li><a class="link" href="proc-instr">Instructions</a></li>
                        <li><a class="link" href="/">Emulator (WIP)</a></li>
                    </ul>
                </li>
                <li>
                    <span>16-bit CPU</span>
                    <ul class="about_side_table">
                        <li><a class="link" href="/">WIP</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <img src="/discord-mark-black.svg" alt="Discord Logo">
        <p>
            If you want to meet us, come to our <a class="link" href="https://discord.gg/ya9q2KMm4s">Discord!</a>
        </p>
    </div>
    <div class="banner">
        <img src="/github-mark.svg" alt="Github Logo">
        <p>
            And our projects can be found on <a class="link" href="https://github.com/KN-Breadboard-Computing">Github</a>.
        </p>
    </div>
</div>
{% endblock content %}
