{% set nav_list = 
    [
        "Strona Główna",
        "8-bitowe CPU",
        "Blog",
        "Partnerzy",
        "Kontakt"
    ] 
%} 

{% set nav_list_en = 
    [
        "Main Page",
        "8-bit CPU",
        "Blog",
        "Partners",
        "Contact"
    ] 
%} 

{% set nav_links = 
    [
        "/",
        "/proc-instr/",
        "/blog/",
        "/partners/",
        "/contact/"
    ] 
%} 

<ul class="navbar">
    {% for item in nav_list %}
        {% if lang == "en" %}
            {% set link = "/en" ~ nav_links[loop.index0] %}
            {% set name = nav_list_en[loop.index0] %}  
        {% else %}
            {% set link = nav_links[loop.index0] %} 
            {% set name = item %}
        {% endif %}
        <li class="button">
            <a href={{link}}>
                {% if page and page.path == link or section and section.path == link %}
                    * {{name}} *
                {% else %}
                    {{name}}
                {% endif %}
            </a>
        </li>
        {% endfor %}
</ul>